body {
	background-color: #000000;
	color: #ffffff; 
	font-family: Roboto Slab;
	font-size: 1.5em;
	
}
.header {
	width: 100%;
	padding-left: 50%;
}
.header-image {
	margin-top: 30%;
	margin-left: -225px;
	width: 450px;
}
.header-image p {
	float: left;
	margin-top: 110px;

}
.header-image img {
	border: solid 5px white;
	border-radius: 999px;
	float: left;
	width: 200px;
	margin-left: -30px;
}
@media (max-width: 800px) {
	.header, .header-image, .header-image p, .header-image img { 
		margin: 0;
		padding: 0;
		width:100%;
	}
	.header { margin-top:20%; }
	.header-image p { width:auto; float:left; }
	.header-image img {
		margin: 0;
		padding: 0;
		border: solid 5px white; 
		border-radius: 0;
		width:30%;
		float:right;
	}
}